extends ../layout.pug

block content
  h2 Editar Admisión
  form(method="POST", action="/admision/editar/" + admision.id + "?_method=PUT")
    div
      label Paciente:
      input(type="text", value= admision.Paciente ? admision.Paciente.nombre + ' ' + admision.Paciente.apellido : '', readonly)
    div
      label Turno:
      input(type="text", value= admision.Turno ? admision.Turno.fecha + ' - ' + admision.Turno.hora : '', readonly)
    div
      label Motivo:
      input(type="text", name="motivo", value= admision.motivo)
    div
      label Observaciones:
      textarea(name="observaciones")= admision.observaciones
    button(type="submit") Guardar Cambios
