extends layout.pug

block content
  .text-center.py-10
    h2.text-success.text-4xl.font-extrabold.mb-4.pb-4.border-b-2.border-success.inline-block ✅ Admisión Exitosa
    p.text-lg.text-gray-700.mb-4 El paciente #[strong.text-primary #{nombrePaciente}] ha sido admitido correctamente.
    p.text-xl.text-gray-800.font-semibold.mb-8 #[strong Información de la Cama Asignada:] #[span.text-info #{infoCama}]

    .flex.flex-col.md:flex-row.justify-center.gap-4.mt-8
      a(href="/admision").bg-primary.hover:bg-blue-700.text-white.font-bold.py-3.px-6.rounded-full.transition.duration-300.ease-in-out.shadow-lg.hover:shadow-xl.text-lg Realizar otra admisión
      a(href="/pacientes/lista").bg-secondary.hover:bg-gray-700.text-white.font-bold.py-3.px-6.rounded-full.transition.duration-300.ease-in-out.shadow-lg.hover:shadow-xl.text-lg Ver lista de pacientes
