doctype html
html
  head
    meta(charset="UTF-8")
    title HIS - Admisi贸n
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 M贸dulo de Admisi贸n
      nav
        ul
          li: a(href="/admision/vista") Inicio
          li: a(href="/admision/vista/nueva") Nueva Admisi贸n
    main
      block content
