doctype html
html
  head
    meta(charset="UTF-8")
    title HIS - Admisión
    link(rel="stylesheet", href="/styles.css") // después lo usás con Tailwind
  body
    header
      h1 Módulo de Admisión
      nav
        ul
          li: a(href="/admision") Inicio
          li: a(href="/admision/nueva") Nueva Admisión
    main
      block content
